@model task1.Models.Url

<h2>URL details</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Short URL:</td>
            <td>@Html.DisplayFor(model => model.ShortUrl)</td>
        </tr>
        <tr>
            <td>Long URL:</td>
            <td>@Html.DisplayFor(model => model.URL)</td>
        </tr>
      

        </tr>
    </tbody>
</table>
